@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body, html {
  margin: 0;
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

h1,h2,h3 {
  font-weight: 550;
}

.content {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: calc(100% - 48px);
  padding: 24px;
  gap: 24px;
}

.content * {
  margin: 0;
}

.focus_base {
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(18px);
  width: 100%;
  height: 100%;
  opacity: 0.0;
  transition: opacity 1.5s ease-in-out;
}

.focus {
  opacity: 1.0;
}

iframe.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  left: 0;
  top: 0;
  border: none;
}

.widget-tall-left {
  grid-row-start: 1;
  grid-row-end: 3;
  justify-content: center;
}

.widget-normal-right-top {
  grid-row-start: 1;
  grid-row-end: 2;
}

.widget-normal-right-bottom {
  grid-row-start: 2;
  grid-row-end: 3;
}

.widget-tall-left,
.widget-normal-right-top,
.widget-normal-right-bottom {
  backdrop-filter: blur(8px);
  padding: 24px;
  gap: 6px;
  color: #ffffffdf;
  background: #0000004c;
  border-radius: 32px;
  border: 1px solid #ffffff3f;
}
